<DOCTYPE HTML!>
<html>
<head>
    <title>How to use inline CSS</title> 
    <style type="text/css">
        .head-style {
            color:blue;
            text-align:center;
            font-size:40px;
        }
        #p-style {
            color:red;
            text-align:center;
        }
    </head>
<body>  
    <h1 class="head-style"> my name is akash   </h1>
    <p id="p-style"> i am learning css </p>
    <h1> my name is chowdhury   </h1>
    <p> i am learning css internal use </p>
    
</body>
</html>