<style type="text/css">
        .head-style {
            color:blue;
            text-align:center;
            font-size:40px;
        }
        #p-style {
            color:red;
            text-align:center;
        }